@model Seiton.Models.Colunas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colunas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_coluna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_coluna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cor_coluna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cor_coluna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quant_tarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quant_tarefas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projeto.nome_projeto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
