@model Seiton.Models.Colunas

@{
    ViewData["Title"] = "Edit";
}

<div>
    <div class="modal">
        <div class="modal-content">
            <h1>Editar Coluna</h1>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="aviso"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="nome_coluna" class="control-label"></label>
                    <input asp-for="nome_coluna" class="form-control" />
                </div>
                <span asp-validation-for="nome_coluna" class="aviso"></span>
                <div class="form-group">
                    <label asp-for="cor_coluna" class="control-label"></label>
                    <select asp-for="cor_coluna" class="form-control">
                        <option value="@cores.ArgentinianBlue">Azul</option>
                        <option value="@cores.Folly">Vermelho</option>
                        <option value="@cores.HunyadiYellow">Amarelo</option>
                        <option value="@cores.DimGray">Cinza</option>
                        <option value="@cores.LimeGreen">Verde</option>
                    </select>
                </div>
                <span asp-validation-for="cor_coluna" class="aviso"></span>
                <div class="form-group" style="display: none;">
                    <label asp-for="IdProjeto" class="control-label"></label>
                    <select asp-for="IdProjeto" class="form-control" asp-items="ViewBag.IdProjeto"></select>
                </div>
                <span asp-validation-for="IdProjeto" class="aviso"></span>
                <div>
                    <a class="backPage">Voltar</a> |
                    <input class="btn" type="submit" value="Editar" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}