@{
    ViewData["Title"] = "Logado";
}
@model ViewModel
<link rel="stylesheet" type="text/css" href="/css/Logado.css" media="screen" />

<div class="Container">
    
    <div class="side-bar-background">
        <div class="white-blue">
            <h1>Projetos</h1>
            <ul>
                @foreach (var projeto in Model.Nome_projeto.Zip(Model.ProjetoId, (nomeProjeto, ProjetoId) => new { NomeProjeto = nomeProjeto, ProjetoId = ProjetoId}))
                {
                    <li><a class="project-name" asp-area="" asp-route-id="@projeto.ProjetoId" data-projeto-id="@projeto.ProjetoId">@projeto.NomeProjeto</a></li>
                }
                
            </ul>
            <div class="adicionar">
                <span class="material-symbols-outlined">add</span>
                <a asp-controller="Projetos" asp-action="Create">Novo</a>
            </div>
            <hr />
        </div>
    </div>

    <div class="Container_Body">
        <div class="header">
            @if (User.Identity.IsAuthenticated)
            {
                    <h1>@User.Identity.Name</h1>
                    <details>
                        <summary><img src="/img/man.png" class="foto-perfil" /></summary>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@ViewData["userId"]">Editar</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@ViewData["userId"]">Apagar</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                    </details>
            }
        </div>

        <div class="info_container">
            <h1>Projeto:</h1>
            <h4>@User.Identity.Name</h4>
        </div>

        <div class="colum_container">
            
            @if (Model.NomeColuna != null)
            {
                var c = 0;
                var colunas = Model.NomeColuna.Zip(Model.IdColuna, (nomecoluna, idcoluna) => new { NomeColuna = nomecoluna, IdColuna = idcoluna })
                .Zip(Model.CorColuna, (coluna, cor) => new { NomeColuna = coluna.NomeColuna, IdColuna = coluna.IdColuna, CorColuna = cor });

                @foreach (var Coluna in colunas)
                {
                    <div class="columContainerInt">
                    
                        <div class="coluna">
                            <div class="color_colum" style="background-color: @Coluna.CorColuna;"><div class="icolor_colum"></div></div>
                            <h3>@Coluna.NomeColuna</h3>
                        </div>
                            @if (c == 0)
                            {
                                <div id="adicionarTarefa" >
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                    <a asp-area="" asp-controller="Tarefas" asp-action="Create">Nova tarefa</a>
                                </div>
                            }
                            
                            @foreach (var IdTarefa in Model.IdTarefa)
                            {
                                var tarefasCombinadas = Model.NomeTarefas.Zip(Model.descricao, (nomeTarefa, desc) => new { NomeTarefa = nomeTarefa, Descricao = desc })
                                .Zip(Model.Responsavel, (tarefa, resp) => new { NomeTarefa = tarefa.NomeTarefa, Descricao = tarefa.Descricao, Responsavel = resp });

                                @if (@Coluna.IdColuna == IdTarefa)
                                {
                                    foreach (var tarefa in tarefasCombinadas)
                                    {
                                        <div class="tarefa">
                                        <h4>@tarefa.Responsavel</h4>
                                        <div class="paragrafo2">
                                            <h2>@tarefa.NomeTarefa</h2>
                                        </div>
                                        <hr>
                                        <div class="paragrafo"><p>@tarefa.Descricao</p></div>
                                        </div>
                                    }
                                }
                                break;
                            }
                    </div>

                    c = 1;
                }
            }
            
        </div>
    </div>


</div>
